*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: sans-serif;
  text-align: justify;
}
.App{
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
}
/* ------------------- FIRST PART ------------------- */
.first_block{
  width: 45%;
  padding: 1rem 0.5rem;
}
.logo-image{
  width: 40rem;
  height: 7rem;
  margin-bottom: 3rem;
}
.first_text{
  font-size: 3.25rem;
  text-align: start;
  font-weight: bold;
  color: #112949;
  font-family: sans-serif;
  margin-bottom: 4.5rem;
}
.second_line{
  text-align: justify;
  font-size: 2rem;  
  margin-bottom: 4rem;
  padding-right: 0.5rem;
  line-height: 2.5rem;
}
.form_class{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4rem;
  gap: 1rem;
}
.input_field{
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.125rem solid #ABABAB;
  width: 43rem;
  min-width: 5rem;
  overflow: hidden;
}
.btn{
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  color: #FFFFFF;
  background-color: #EA7B2C;
  border: none;
  min-width: 15rem;
  display: inline-block;
}
.comp-hidden{
  display: none;
}
/* ------------------- SECOND PART ------------------- */
.second_block{
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}
.second_block_part1 , .second_block_part2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_block{
  background-color: #112949;
  margin : 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1.25rem;
  border-radius: 1rem;
}
.service_block_part1{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-image-class{
  height: 6rem;
  width: 5rem;
}
.head-image-class{
  width: 12rem;
  height: 10rem;
}
.data-image-class{
  width: 20rem;
  margin-bottom: 0.5rem;
}

/* ------------- 1920 pixels ----------------- */
@media screen and (max-width: 1920px){
  /* ------------------- FIRST PART ------------------- */
  .first_block{
    width: 45%;
    padding-left: 0.5rem;
  }
  .logo-image{
    width: 24rem;
    height: 6rem;
    margin-bottom: 2rem;
  }
  .first_text{
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }
  .second_line{
    font-size: 1.75rem;  
    margin-bottom: 2rem;
    padding-right: 0.5rem;
  }
  .form_class{
    min-width: 20rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }
  .input_field{
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 0.075rem solid #ABABAB;
  }
  .btn{
    font-size: 1.5rem;
    border-radius: 0.5rem;
    min-width: 10rem;
  }
  /* ------------------- SECOND PART ------------------- */
  .second_block{
    width: 50%;
  }
  .service_block{
    padding: 0.5rem 0rem 0.5rem 1.25rem;
  }
  .logo-image-class{
    height: 3rem;
    width: 3rem;
  }
  .head-image-class{
    width: 10rem;
    height: 8rem;
  }
  .data-image-class{
    margin-top: -1rem;
    width: 12rem;
    margin-bottom: 0.5rem;
  }  
}
@media screen and (max-width: 1800px) {
  .second_line{
    font-size: 1.5rem;
  }
  .input_field{
    width: 20rem;  
  }
  .logo-image-class{
    height: 3rem;
    width: 3rem;
  }
  .head-image-class{
    width: 9rem;
    height: 8rem;
  }
  .data-image-class{
    margin-top: -1rem;
    width: 12rem;
    margin-bottom: 0.5rem;
  }  
}
/* ------------- FOR MACBOOK 1440 px x 823 px ---------------- */
@media screen and (max-width: 1500px){
  /* ------------------- FIRST PART ------------------- */
  .first_block{
    width: 45%;
  }
  .logo-image{
    width: 18rem;
    height: 4rem;
    margin-bottom: 1.5rem;
  }
  .first_text{
    font-size: 1.65rem;
    margin-bottom: 2.5rem;
  }
  .second_line{
    font-size: 1.25rem;  
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  .form_class{
    margin-bottom: 1rem;
  }
  .input_field{
    font-size: 1.25rem;
    border-radius: 0.75rem;
  }
  .btn{
    font-size: 1.25rem;
    border-radius: 0.75rem;
    min-width: 9rem;
  }
  /* ------------------- SECOND PART ------------------- */
  .second_block{
    width: 50%;
  }
  .service_block{
    padding: 0.5rem 0rem 0.5rem 1.25rem;
  }
  .logo-image-class{
    height: 2rem;
    width: 2rem;
  }
  .head-image-class{
    width: 7rem;
    height: 6rem;
  }
  .data-image-class{
    margin-top: -1rem;
    width: 10.25rem;
    margin-bottom: 0.5rem;
  }  
}
@media screen and (max-width: 1300px){
  /* ------------------- FIRST PART ------------------- */
  .first_block{
    width: 40%;
  }
  .logo-image{
    width: 14rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  .first_text{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .second_line{
    font-size: 1rem;  
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
  }
  .form_class{
    gap: 0.75rem;
  }
  .input_field{
    font-size: 1rem;
    padding: 0.15rem 0.5rem;
  }
  .btn{
    font-size: 1rem;
    padding: 0.75rem;
    min-width: 8rem;
  }
  /* --------------------- SECOND PART -------------------*/
  .second_block{
    width: 50%;
  }
  .service_block{
    padding: 0.5rem 0rem 0.5rem 1.45rem;
  }
  .logo-image-class{
    height: 2rem;
    width: 2rem;
  }
  .head-image-class{
    width: 6rem;
    height: 5rem;
  }
  .data-image-class{
    margin-top: -1rem;
    width: 8rem;
  }
}
@media screen and (max-width: 1080px){
  .first_block{
    width: 40%;
  }
  .logo-image{
    width: 12rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  .first_text{
    font-size: 1.0875rem;
    margin-bottom: 1.5rem;
  }
  .second_line{
    font-size: 0.75rem;  
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
  }
  .form_class{
    gap: 0.5rem;
  }
  .input_field{
    font-size: 0.825rem;
    padding: 0.15rem 0.25rem;
    width: 12rem;
    min-width: 5rem;
  }
  .btn{
    font-size: 0.825rem;
    padding: 0.65rem;
    min-width: 6rem;
  }
  /* --------------------- SECOND PART -------------------*/
  .second_block{
    width: 55%;
  }
  .service_block{
    padding: 0.5rem 0rem 0.5rem 1rem;
  }
  .logo-image-class{
    height: 1.5rem;
    width: 1.5rem;
  }
  .head-image-class{
    width: 4.5rem;
    height: 4rem;
  }
  .data-image-class{
    margin-top: -0.5rem;
    width: 6.5rem;
  }
}
@media screen and (max-width: 950px){
  .App{
    overflow: hidden;
  }
  .input_field{
    width: 10rem;
    min-width: 5rem;
  }
}
@media screen and (max-width: 900px){
  .input_field{
    width: 8rem;
    min-width: 5rem;
  }
}
@media screen and (max-width: 850px){
  .app{
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center !important;
    gap: 1rem;
  }
  .first_block{
    width: 45%;
  }
  .logo-image{
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  .first_text{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .second_line{
    font-size: 0.75rem;  
    margin-bottom: 1rem;
    line-height: 1rem;
  }
  .form_class{
    gap: 0.5rem;
  }
  .input_field{
    font-size: 0.75rem;
    padding: 0rem 0.25rem;
    width: 8rem;
    min-width: 5rem;
  }
  .btn{
    font-size: 0.75rem;
    padding: 0.5rem;
    min-width: 5rem;
  }
  /* --------------------- SECOND PART -------------------*/
  .second_block{
    width: 50%;
  }
  .service_block{
    padding: 0.25rem 0rem 0.25rem 0.5rem;
  }
  .service_block_part1{
    justify-content: center;
    gap: 0.25rem;
  }
  .logo-image-class{
    height: 1rem;
    width: 1rem;
  }
  .head-image-class{
    width: 3rem;
    height: 3.5rem;
  }
  .data-image-class{
    margin-top: -0.5rem;
    width: 4rem;
  } 
}
@media screen and (max-width: 720px){
  .App{
    gap: 0.75rem;
  }
}
@media screen and (max-width: 650px){
  .App{
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0.25rem;
    overflow: hidden;
    padding: 1rem;
  }
  /* ------------------ FIRST PART ---------------------- */
  .first_block, .second_block{
    width: 100%;
    text-align: center;
  }
  .first_text{
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  .second_line{
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 100;
  }
  .form_class{
    margin-bottom: 0rem;
  }
  .mobile-hidden{
    display: none;
  }
  .comp-hidden{
    display: block;
  }
  .form_phone_class{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
  }
  .input_field_phone{
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.125rem solid #ABABAB;
  }
  .btn_phone{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: #EA7B2C;
    border: none;
    display: inline-block;
  }
  /* --------------------- SECOND PART --------------------- */
  .second_block_part1 , .second_block_part2{
    flex-direction: column;
  }
  .service_block{
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
  }
  .service_block_part1{
    justify-content: space-evenly;
  }
  .logo-image-class{
    width: 3rem;
    height: 3rem;
  }
  .head-image-class{
    width: 10rem;
    height: 4rem;
  }
  .data-image-class{
    width : 100%;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 480px){
  .App{
    gap: 0rem;
  }
}
@media screen and (max-width: 380px){
  .App{
    padding: 0.5rem;
  }
}